<!DOCTYPE html>
<html>
   <head>
      <title>Add Order</title>
   </head>
   <body>
      <h3>Order form</h3>
      <form action="/add3" method="POST">
         <label>Buyer ID</label>
         <input type="number" name="buyer_id" placeholder="id...">
         <Label>Order ID</Label>
         <input type="number" name="order_id" placeholder="id...">
         <label>Listing ID</label>
         <input type="number" name="listing_id" placeholder="id...">
         <label>Seller ID</label>
         <input type="number" name="seller_id" placeholder="id...">
         <label>Date</label>
         <input type="number" name="date_ordered" placeholder="date...">
         
         <button type="submit">Add</button>
      </form>

   </body>