<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add" method="POST">
         <label>Name</label>
         <input type="text" name="first_name" placeholder="name...">
         <label>Email</label>
         <input type="text" name= "last_name" placeholder="email...">
         <label>Phone Number</label>
         <input type="number" name="age" placeholder="phone number...">
         
         <button type="submit">Add</button>
      </form>

      <form action="/add2" method="POST">
         <label>Name</label>
         <input type="text" name="first_name2" placeholder="name...">
         <label>Email</label>
         <input type="text" name= "last_name2" placeholder="email...">
         <label>Phone Number</label>
         <input type="number" name="age2" placeholder="phone number...">
         
         <button type="submit">Add</button>
      </form>
   </body>
</html>