<!DOCTYPE html>
<html>
   <head>
      <title>Listing Page</title>
   </head>
   <body>
      <h3>Listings</h3>
      <a href="/add_listing">ADD LISTING</a>
      <br>
      <table>
         <thead>
            <th>Listing Id</th>
            <th>Seller Id</th>
            <th>Max Quantity</th>
            <th>Price Per Unit</th>
            <th>Location</th>
            <th>#</th>
         </thead>
         {% for data in listing %}
         <tbody>
            <td>{{data.listing_id}}</td>
            <td>{{data.seller_id}}</td>
            <td>{{data.max_quantity}}</td>
            <td>{{data.ppu}}</td>
            <td>{{data.location}}</td>
            <td><a href="/delete_listing/{{data.listing_id}}" type="button">Delete</a></td>
         </tbody>
         {% endfor%}
      </table>

   </body>
</html>